/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

/* Estilos de la barra de navegación */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #ddd;
}

.navbar ul li a.active {
    font-weight: bold;
    color: #cce514; /* Cambia el color según tus preferencias */
}

/* Estilos del ícono de "nosotros" */
.nosotros {
    display: flex;
    align-items: center;
}

.nosotros img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.nosotros img:hover {
    transform: scale(1.1);
}

/* Estilos específicos para el contenido principal (como los años) */
.main {
    padding: 20px;
}

.years-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas por fila */
    gap: 20px; /* Espacio entre las tarjetas */
    justify-items: center; /* Centra las tarjetas horizontalmente dentro de cada celda */
    justify-content: center; /* Centra las celdas de la cuadrícula horizontalmente */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    max-width: 1200px; /* Ajusta el ancho máximo del contenedor */
}

.year-card {
    width: 300px; /* Ancho de la tarjeta */
    height: 300px; /* Alto de la tarjeta */
    background-color: #ccc; /* Fondo gris */
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 36px; /* Tamaño de la fuente */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px; /* Espacio entre las tarjetas */
}

.year-card:hover {
    background-color: #999; /* Cambio de color al hacer hover */
}

.all-year {
    grid-column: span 4; /* Ocupa 4 columnas */
}

@media (min-width: 768px) {
    .years-container {
        grid-template-columns: repeat(4, 1fr); /* Anchos proporcionales */
        gap: 20px; /* Espacio entre las tarjetas */
    }
}






