/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.header-title {
    margin: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #cce514; /* Color verde */
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.nosotros {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Espacio entre la imagen y el texto */
}

.nosotros img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.nosotros img:hover {
    transform: scale(1.1);
}

.content-box {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    border: 2px solid #333;
    border-radius: 10px;
}

.section-title {
    text-align: center;
    margin-bottom: 20px;
}

.input-number {
    width: 200px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: flex-start; /* Ajuste a flex-start para evitar que se superponga */
    align-items: flex-start;
    margin-top: 20px;
}

.image-with-caption {
    position: relative;
    flex: 1;
    margin-right: 20px; /* Añade margen a la derecha para separar del cuadro de texto */
}

.statistics-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.text-box {
    flex: 1;
    margin-left: 20px; /* Añade margen a la izquierda para separar de la imagen */
}

.text-input {
    width: 90%;
    height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    pointer-events: none; /* Hace el cuadro de texto estático */
}

.weapons-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.weapons-list ul li {
    margin-bottom: 10px;
}

.weapons-list ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
.static-text {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.weapons-list ul li a:hover {
    background-color: #f0f0f0;
    color: #777;
}
.comparison-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.comparison-box {
    flex: 1;
    margin: 0 10px; /* Espacio entre los cuadros */
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
}

.comparison-text-input {
    width: 90%;
    height: 100px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-top: 20px;
}

.weapon-count {
    padding: 10px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 16px;
    text-align: right; /* Alineación a la derecha */
}

/* Estilos adicionales para la sección de infracciones */
.infraccion-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.infraccion-list ul li {
    margin-bottom: 10px;
}

.infraccion-list ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black; /* Color negro para los enlaces */
    font-size: 18px;
    border: 1px solid #ccc; /* Añadir borde */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transiciones suaves */
}

.infraccion-list ul li a:hover {
    background-color: #f0f0f0;
    color: #333; /* Cambiar color al pasar el mouse */
}

/* Ajuste de la posición del cuadro de la derecha */
.infraccion-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.infraccion-box {
    flex: 1;
    margin: 0 10px; /* Espacio entre los cuadros */
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
}

.infraccion-edad {
    flex: 1;
    margin: 225px 10px; /* Aumenta el margen inferior para separarlo más de los cuadros anteriores */
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    min-height: 50px; /* Altura mínima para el contenedor */
}
